<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Archetype Created Web Application</display-name> 
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogin</servlet-name>
  	<display-name>UserLogin</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLogout</servlet-name>
  	<display-name>UserLogout</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSpecialist</servlet-name>
  	<display-name>AddSpecialist</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDoctor</servlet-name>
  	<display-name>AddDoctor</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.AddDoctor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctorLogin</servlet-name>
  	<display-name>DoctorLogin</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.logout.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>appointmentServlet</servlet-name>
  	<display-name>appointmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.appointmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.logout.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStatus</servlet-name>
  	<display-name>UpdateStatus</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.UpdateStatus</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DoctUpdateProfile</servlet-name>
  	<display-name>DoctUpdateProfile</display-name>
  	<description></description>
  	<servlet-class>com.doctor.servlet.DoctUpdateProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserCrud</servlet-name>
  	<display-name>UserCrud</display-name>
  	<description></description>
  	<servlet-class>com.admin.servlet.UserCrud</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogin</servlet-name>
  	<url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLogout</servlet-name>
  	<url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSpecialist</servlet-name>
  	<url-pattern>/AddSpecialist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDoctor</servlet-name>
  	<url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctorLogin</servlet-name>
  	<url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>appointmentServlet</servlet-name>
  	<url-pattern>/appointmentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStatus</servlet-name>
  	<url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DoctUpdateProfile</servlet-name>
  	<url-pattern>/DoctUpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserCrud</servlet-name>
  	<url-pattern>/UserCrud</url-pattern>
  </servlet-mapping>
</web-app>
